{% extends "zigBase.html" %}


{%  block navBar %}
{#<br/>#}
{#    <br/>#}
    <div class="list-group" >
        <a href="#" class="list-group-item">资金股票分配</a>
        <a href="#" class="list-group-item">投资策略管理</a>
        <a href="#" class="list-group-item">策略构建</a>
        <a href="#" class="list-group-item">公式管理</a>
        <a href="#" class="list-group-item">下单撤单</a>
        <a href="#" class="list-group-item">资金进出管理</a>
        <a href="#" class="list-group-item">股票池管理</a>
        <a href="#" class="list-group-item">用户设置</a>
    </div>
{% endblock %}

