{% extends "base.html" %}

{%  block no_navBarContent %}
                        <div class="container center-block" style="width: 70%" >
        <div class="row">
<br/><br/>
    <div class="panel panel-default ">
        <div class="panel-body ">
                <div class="page-header-top">

            <h1>关于我们 <small>find out more about us</small></h1>

    </div>
            <p>
                至构金融成立于2015年。核心成员来自国际各知名投行，创始成员覆盖金融、数学、投资管理和市场营销领域。
                至构金融致力于打造专业的量化策略交易平台，以华尔街国际投行所采用的金融大数据分析系统为核心，建立国际级的程序化交易系统和严格的风控系统，为国内不断兴起的财富管理机构和大众富裕人群提供金融技术服务。
            </p>
            联系我们: contactus@zigstrat.com
        </div>
    </div>

            </div>
</div>
{% endblock %}