{% extends "base.html" %}

{%  block navBar %}
    <div class="list-group" >
        <a href="{% url 'prototype:bigdata' %}" class="list-group-item {{ nav_trendTest }}">趋势指标回测</a>
        <a href="{% url 'prototype:bigdata_result' %}" class="list-group-item {{ nav_historyTest }}">回测结果</a>
{#        <a href="{% url 'prototype:bigdata_history' %}" class="list-group-item {{ nav_historyData }}">历史数据查询</a>#}
        <a href="{% url 'prototype:bigdata_mktdata' %}" class="list-group-item {{ nav_mktData }}">市场数据</a>
    </div>
{% endblock %}

