{% extends "base.html" %}


{%  block navBar %}
    <div class="list-group" >
{#        <a href="#" class="list-group-item {{ nav_running_strategy_mge }}">投资策略运行</a>#}
        <a href="{% url 'prototype:strategy' %}" class="list-group-item {{ nav_index_manage }}">指标管理</a>
        <a href="{% url 'prototype:strategy_manage' %}" class="list-group-item {{ nav_strategy_mge }}">策略管理</a>
{#        <a href="mannualorder" class="list-group-item">手动下单撤单</a>#}
{#        <a href="basket" class="list-group-item {{ nav_stock_basket }}">股票池管理</a>#}
        <a href="{% url 'prototype:strategy_shop' %}" class="list-group-item {{ nav_strat_shop }}">策略商店</a>
    </div>
{% endblock %}

