{% extends "base.html" %}


{%  block navBar %}
{#<br/>#}
{#    <br/>#}
    <div class="list-group" >
        <a href="#" class="list-group-item">资金股票分配</a>
        <a href="#" class="list-group-item {{ nav_strategy_manage }}">投资策略管理</a>
        <a href="#" class="list-group-item {{ nav_create_strategy }}">策略构建</a>
        <a href="{% url 'prototype:strategy' %}" class="list-group-item {{ nav_index_manage }}">指标管理</a>
        <a href="#" class="list-group-item">下单撤单</a>
        <a href="#" class="list-group-item">资金进出管理</a>
        <a href="#" class="list-group-item {{ nav_stock_basket }}">股票池管理</a>
        <a href="#" class="list-group-item {{ nav_user_setup }}">用户设置</a>
    </div>
{% endblock %}

