
/* bootstrap修改默认字体，更换为微软雅黑 */
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

.dropdown-menu > li > a {
    padding: 3px 30px;
}

.formular
{
    width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.page-header-top {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}



/* following may not needed. */

@media (min-width: 992px) {
    /* 992px */
    /* Page content */
    .page-content-wrapper {
        float: left;
        width: 100%;
        background: #f8f8f8;
    }

        .page-content-wrapper .page-content {
            margin-left: 220px;
            margin-top: 0px;
            padding: 10px 0 0 20px;
        }

            .page-content-wrapper .page-content.no-min-height {
                min-height: auto;
            }

    .page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
        margin-left: 54px;
    }

    .page-sidebar-reversed .page-content-wrapper .page-content {
        margin-left: 0 !important;
        margin-right: 235px !important;
        padding-left: 0;
        padding-right: 20px;
    }

    .page-sidebar-reversed.page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
        margin-left: 0;
        margin-right: 54px;
    }

    .page-sidebar-reversed.page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 0 !important;
        margin-right: 54px !important;
    }

    .page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 54px !important;
    }

    .page-sidebar-closed.page-sidebar-hide .page-content-wrapper .page-content {
        margin-left: 0 !important;
    }

    .page-sidebar-closed.page-sidebar-reversed.page-sidebar-hide .page-content-wrapper .page-content {
        margin-right: 0 !important;
    }

    .page-full-width .page-content-wrapper .page-content {
        margin-left: 0px !important;
    }
}

@media (max-width: 991px) {
    /* 991px */
    /* Boxed page container  */
    .page-boxed > .container {
        width: 100%;
        max-width: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Page content */
    .page-content-wrapper1 .page-content {
        margin: 0px !important;
        padding: 20px !important;
        min-height: 280px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*  768px & 991px */
    /* Boxed page container */
    .page-boxed > .container {
        margin: auto !important;
    }
}

@media (max-width: 767px) {
    /* 767px */
    /* Page content */
    .page-content-wrapper .page-content {
        padding: 20px 10px 10px 10px !important;
        overflow: hidden;
        /* Page title */
    }

        .page-content-wrapper .page-content .page-title {
            margin-bottom: 15px;
            font-size: 20px;
        }

            .page-content-wrapper .page-content .page-title small {
                font-size: 13px;
                padding-top: 3px;
            }
}

@media (max-width: 480px) {
    /* 480px */
    /* Dashboard date range panel */
    .page-content-wrapper .page-content .page-title small {
        display: block;
        clear: both;
    }
}